@font-face{
font-family:b;
src: url(b.otf);
}
@font-face{
font-family:a;
src:url(a.ttf);
}


body{
    background-color: rgb(15, 23, 47);
    margin:0;
    padding:0;
    
}

#tit{
    display:flex;
    font-family:a;
    flex-direction: column;
    align-items: center;
    color:rgb(251, 250, 250);
    font-size: 0.2cm;
    border:solid 0.03cm black;
    margin:0 0 1% 0;
    background-color: rgb(17, 36, 53);

}
#tap{
text-align: center;


}
#tap img{
width:95vw;
height:auto;

}
.aksam{
display: flex;
flex-direction: column;
align-items: center;
border:solid 0.1vh rgb(4, 4, 4);
background-color: rgb(17, 36, 53);
width: 100%;
height:8cm;
align-items: center;
overflow: hidden;
}
#q{
   
    border:none;
   width:100%;
   height: 80%; 
    overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap ;
}
.mada{
  
border:none;
 
margin:0 0.3cm 0 0.3cm;

}
.mosh:hover{transform: scale(0.97);border-bottom: 2px solid rgb(251, 105, 0);}
.mosh:active{transform: scale(0.95);border-bottom: 2px solid rgb(251, 105, 0);}

.img{
    
    
    width:4cm;
    height:95%;
    
  
}


h5{font-family:a;
    font-size:0.6cm;
text-align:center;
color: rgb(254, 254, 254);



}
h1{
    color: rgb(254, 254, 254);
    font-size:25px ;
    font-family:a;
text-align: center;

}


.show{
background-color: rgb(17, 36, 53);
display:flex;
align-items: center;
overflow-x:auto ;
overflow-y: hidden;
width:100%;
height:8cm;

}
.show img{
    border:none;
margin:0;
width:5cm;
height:7cm;
transition: 0.4s;

}



p{
    font-family:b;
    color: rgb(254, 254, 254);
     border-right:solid 2px rgb(251, 105, 0) ;
     padding:4px;
    font-size:0.6cm;
    text-align:right;
    margin:2px 9px 20px 2px;
}

.classrom{
width: 4cm;
width: 4cm;

}
.tol
{display: flex;

}


#h4{
    
    color: rgb(234, 234, 234);
    background-color: dimgrey;
    border:solid green 2px;
    border-radius: 0.2cm;
    width: 3.5cm;
    height: 0.7cm;
    font-family:b;
    font-size:0.5cm;
    text-align: center;
}
